html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.day {
    background-color: azure;
}

.night {
    background-color: black;
}

.profileImg {
    margin: 0 auto;
    display: block;
}

.mainTitle {
    color: darkgreen;
    background-color: rgb(241, 239, 232);
    text-align: center;
}

.night .mainTitle {
    color: rgb(241, 239, 232);
    background-color: rgb(4, 4, 20);
    text-align: center;
}

.bigBox {
    background-color: rgb(241, 239, 232);
    padding: 20px 30px;
}

.night .bigBox {
    color: rgb(241, 239, 232);
    background-color: rgb(4, 4, 20);
}

.bigBox__important {
    color: brown;
}

.night .bigBox__important {
    color: rgb(243, 215, 103);
}